$primary-color: #df4c4c;
$dark-bg: #000000ee;
$darker-bg: #141414;
$light-color: #ffffff;
$form-bg: #f5f5f5;
$form-input-bg: #eee;
$form-text: #333;
$form-placeholder: #888;
$toggle-bg: #292929;

$valorant-font: 'Valorant', sans-serif;
$rajdhani-font: 'Rajdhani', sans-serif;

$text-shadow: 10px 2px 8px rgba(0, 0, 0, 0.5);
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

$mobile-sm: 400px;
$mobile: 650px;
$tablet: 900px;
